/* Importe o CSS do Tailwind */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Seu CSS personalizado abaixo */

body {
    background-color: rgb(16, 24, 21);
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    position: relative; /* Adicione uma posição relativa ao body */
}

body::before {
    content: "";
    position: fixed; /* Fixe o elemento pseudo no fundo da página */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./assets/img/metal1.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.5; /* Define a opacidade desejada para o fundo */
    animation: backgroundFade 5s linear infinite;
    z-index: -1; /* Coloque o fundo atrás do conteúdo */
}

@keyframes backgroundFade {
    0%, 100% {
        opacity: 0.5; /* Opacidade inicial e final */
    }
    59% {
        opacity: 1; /* Opacidade máxima no meio da animação */
    }
}

header {
    font-size: 36px; /* Tamanho de cabeçalho semelhante à Zara */
    font-family: ITC Avant Garde Gothic;
    background-color: black; /* Cor de fundo preta para o cabeçalho */
    color: white; /* Cor do texto no cabeçalho */
    padding: 10px; /* Adicione um espaçamento interno ao cabeçalho para melhor legibilidade */
    position: fixed; /* Fixe o cabeçalho no topo da janela de visualização */
    top: 0; /* Coloque o cabeçalho no topo da página */
    width: 100%; /* Defina a largura do cabeçalho como 100% da largura da janela de visualização */
    text-transform: uppercase; /* Transforma todo o texto em maiúsculas */
}

#container-produto {
    text-align: center; /* Centralize os elementos dentro do contêiner */
}

#card-produto {
    display: inline-block; /* Exibe os elementos lado a lado */
    margin: 10px; /* Adicione margem entre os cartões de produtos */
    text-align: left; /* Alinhe o texto à esquerda dentro do cartão */
}

#card-produto img {
    max-width: 100%; /* Garante que a imagem não seja maior que o contêiner do cartão */
}

#card-produto p {
    margin: 5px 0; /* Adicione um pequeno espaçamento vertical entre os parágrafos */
    text-transform: uppercase; /* Transforma todo o texto em maiúsculas */
}

#card-produto button {
    background-color: #37414d; /* Cor de fundo do botão */
    color: white; /* Cor do texto do botão */
    border: none; /* Remova a borda do botão */
    padding: 5px 10px; /* Adicione um pequeno preenchimento ao botão */
    cursor: pointer; /* Mude o cursor para uma mão quando passar o mouse sobre o botão */
    text-transform: uppercase; /* Transforma todo o texto em maiúsculas */
}

#card-produto button:hover {
    background-color: #131416; /* Cor de fundo do botão quando hover */
}

main {
    margin-top: 60px; /* Adicione um espaço no topo para evitar que o cabeçalho corte o conteúdo */
}
